################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Dastyar.CodeGenerator/obj
/.vs
/src/Dastyar.CodeGenerator/bin/Debug/net9.0
/src/Dastyar.CodeGenerator/Generated
